{% extends "layouts/base.html"%}
{%load static%}

{% block content %}
<main class="container py-5">
    <body style="background: #1f1c62;">
        {%if user.is_authenticated%}
    <section class="card card-body">
        <h1 class="display-1 text-center">{{title}}</h1>
        <p>It's nice to see you back :D</p>
    </section>
    {%else%}
    <section class="card card-body">
        <h1 class="display-1 text-center">{{title}}</h1>
        <p>welcome to my task app, here you'll be able to create projects with tasks on them :D</p>
    </section>
    <div class="text-center">
        <a class="btn btn-primary" href="/signin/">login</a>
        <a class="btn btn-primary" href="/signup/">signup</a>
    </div>
    {%endif%}
    </body>
</main>



{% endblock %}