{% extends "layouts/base.html"%}
{%load static%}

{% block content %}
<main class="container py-5">
    <body style="background: #1f1c62;">
        {%if user.is_authenticated%}
    <section class="card card-body">
        <h1 class="display-1 text-center">{{title}}</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis magni iste tempora ipsum laborum laudantium mollitia voluptas quibusdam voluptate maxime.</p>
    </section>
    {%else%}
    <section class="card card-body">
        <h1 class="display-1 text-center">{{title}}</h1>
        <p>Te doy la bienvenida a mi app gestora de tareas</p>
    </section>
    <div class="text-center">
        <a class="btn btn-primary" href="/signin/">login</a>
        <a class="btn btn-primary" href="/signup/">signup</a>
    </div>
    {%endif%}
    </body>
</main>



{% endblock %}